template(name="home")
  // cd-intro
  section.landing.cd-intro
    .logo
      img(src="/images/logo.png")
    h1.tagline.cd-headline.letters.type
      span Build  
      span.cd-words-wrapper.waiting
        b.is-visible Anything
        b Website
        b Webapp
        b Mobile App
        b Arduino
        b Raspberry Pi
        b Robot
      span with JavaScript
    .activity
      //- button(type="button") I could build "something" with JavaScript
      a.typeform-share.button(href = "https://vantischen.typeform.com/to/Du4zfx", data-mode = "1", target = "_blank")
        | I could build "something" with JavaScript
  .intro
    .container-box
      h1.title What's JSDC
      .divider
      p.info
        | This year, JSDC is breaking the barriers by integrating the technical power from independent 
        | developers, enterprises, framewords, architectures, and practices. We aim to make the knowledge 
        | globally interchangeable, while makeing all attendees reimagine JavaScript within and beyond 
        | the dogma. Our new thinking will be a catalyst for further improvement of the architectures. 
        | fortification of the teams, and optimization of the development process.
      a.contact(href="mailto:hq@jsdc.tw?subject=I wanna build something here&body=Hi, I have some ideas.") hq@jsdc.tw