doctype html
html(lang="zh")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="icon", sizes="16x16 32x32", href="../favicon.ico?v=2")
    title JSDC 2015
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css")
    //- MailChimp sign up form style
    link(href="//cdn-images.mailchimp.com/embedcode/classic-081711.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="../stylesheets/style.css")

    // Open Graph data
    meta(property="og:title", content="JSDC 2015")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://2015.jsdc.tw")
    meta(property="og:image", content="http://2015.jsdc.tw/images/og.png")
    meta(property="og:description", content="今年，JavaScript 開發者年會 (JavaScript Developers Conference, 簡稱 JSDC) 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。")
    meta(property="og:site_name", content="JSDC 2015")

  body
    //- include views/includes/nav.jade
    #main
      header
        ul.languages
          li
            a(href="/en") English

      section.landing.cd-intro
        .nav-btn
          button(type="button")
            span.icon-line
            span.icon-line
            span.icon-line
        .video
          video#bg-video(autoplay="", muted="", loop="")
            source(type="video/mp4", src="../video/background.mp4")
        //- iframe.video(width="100%", src="https://www.youtube.com/embed/fFvj1NELjOQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=fFvj1NELjOQ", frameborder="0", allowfullscreen="")
        .background-container
          .logo
            img(src="../images/logo.png", alt="JSDC")
          span.coming Coming soon at 10/03 and 10/04
          span 中央研究院 人文社會科學館
          h1.tagline.cd-headline.letters.type
            span Build 
            span.cd-words-wrapper.waiting
              b.is-visible Anything
              b Website
              b Webapp
              b Mobile App
              b Arduino
              b Raspberry Pi
              b Robot
            span  with JavaScript
          .activity
            a.typeform-share.link.speaker(href="https://jsdc2015.typeform.com/to/JIc9v2", data-mode="1", target="_blank")
              | 成為講者
            a.typeform-share.link.sponsor(href="https://jsdc2015.typeform.com/to/dgmSSy", data-mode="1", target="_blank")
              | 贊助我們
        //- Navigation bar on landing page
        nav#nav-main
          .block.grey
          .block.red
            ul
              li 
                a.nav-news 最新消息
          .block.green
            ul
              //- li 
                a.nav-schedule 議程
              li
                a.nav-location 活動地點
          .block.blue
            ul
              //- li
                a.nav-speakers 講者
              //- li
                a.nav-sponsors 贊助
              li
                a.nav-staff 工作人員
      section.news
        .title
          h1 最新消息
        .container
          .news-slick
            a.post(href="http://blog.jsdc.tw/2015/04/01/jsdc2015-start/", target="_blank")
              h2.title JS Devil Day
              span.author By JSDC team at 26 May 2015
              p.description 
                | 2014 年最火紅的前端框架可以說是 Angular ，我想這個是大家都無庸置疑的，但是它的學習曲線實在是 … 
                | 直到現在還是不太好學。 默默的繼續回去使用 backbon & jQuery 這樣簡簡單單的純樸。
            a.post(href="http://blog.jsdc.tw/2015/04/01/jsdc2015-start/", target="_blank")
              h2.title JSDC 2015，揚帆啟航
              span.author By JSDC team at 01 Apr 2015
              p.description 
                | 熱愛 JavaScript 與 JSDC 研討會的朋友們大家好。我是 Simon，小弟是今年 JSDC 2015 的總召。
                | 不知道什麼時候，JSDC 這個活動已經悄悄地世代轉移了，在此對於所有 JSDC 前輩們的付出先深深一
                | 鞠躬表示感謝...
            a.post(href="http://blog.jsdc.tw/2014/10/14/jsdc2014-day2/", target="_blank")
              h2.title JSDC 2014 次日講者訪談: 樂趣、嘗試、目標。
              span.author By JSDC team at 14 Oct 2014
              p.description 
                | JSDC(JavaScript Developer conference) 議程邁入第二天，這一天多了不少將程式結合生活的軟性議題，包含 
                | Github 成員介紹針對新手的教學應用及公司文化，以及中國講者針對技術與管理上挑戰的探討。
            a.post(href="http://blog.jsdc.tw/2014/10/13/jsdc2014-day1/", target="_blank")
              h2.title JSDC 2014 首日講者訪談：心中的 JavaScript
              span.author By JSDC team at 13 Oct 2014
              p.description
                | 2014 JSDC(JavaScript Developer Conference) 於10月11日展開。 今年主題為 JavaScript，
                | Life Script- JavaScript everywhere. 因為 JavaScript 已經幻化為生活中不可或缺的語言...
            a.post(href="http://blog.jsdc.tw/2014/09/16/volunteer/", target="_blank")
              h2.title JSDC 志工招募中
              span.author By JSDC team at 16 Sep 2014
              p.description
                | 今年 JSDC 2014 研討會，我們希望打破所有以往的藩籬，透過獨立開發者，企業應用，框架原理，架構分析，
                | 實戰分享，希望透過 JSDC 與世界接軌，促進與會者思考體制內架構與體制外的現況，從各種不同面向瞭解 
                | JavaScript...
            //- a.post(href="http://blog.jsdc.tw/2014/09/04/node-prepare/", target="_blank")
              h2.title 技術轉換需知，學習 Node.js 的前期準備
              span.author By Caesar Chi at 04 Sep 2014
              p.description
                | 持續推廣 node.js 對於新手教學上，通常會遇到許多狀況，以及許多不同的迷思，總和出來其實可以看到一些
                | 常見的問題。這篇文章也是藉由數次的活動發想實踐當中，延伸出來的導讀文章之一，也是每次在活動一開始的
                | 時候...
      section.intro
        .container-box
          .title
            h1 JavaScript 開發者年會
          .divider
          .info
            p
              | 今年，JavaScript 開發者年會 (JavaScript Developers Conference, 簡稱 JSDC) 
              | 打破了壁壘，整合來自獨立開發者、企業、組織及機構的科技力量。
              | 我們致力使知識全球化，並且讓參與者重新認識 JavaScript 。
              | 我們的新思維將更進一步改善架構、強化團隊及最佳化開發流程。
          //- .title
            h1 JSDC 宗旨
          //- .divider
          //- .info
            p empty
          a.typeform-share.link.contact(href="https://jsdc2015.typeform.com/to/Z3xnIk", data-mode="1", target="_blank")
            | 聯繫我們
          .share-buttons
            .fb-share-button(data-href="http://2015.jsdc.tw/zh_tw/", data-layout="button_count")
      section.staff
        .title
          h1 工作人員
        .container-fluid
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/10805728_1038360966190069_6017786568153332670_n.jpg?oh=6ece0a1e53469e1849a45d4b7a2c4d49&oe=55E17211&__gda__=1440226429_b2580f21de4114c17cc94fa53a2ba90b")
            .introduction
              h4 Simon Sun
              span 總召
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c0.154.320.320/p320x320/1606948_10152725119659838_336180642126829356_n.jpg?oh=c748177b90805bfbc8370fb5a8b60e25&oe=55C0D480&__gda__=1441127382_08224b6646a29d9aac0c26642a49a452")
            .introduction
              h4 Caesar Chi
              span 顧問
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span 議程
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/10390549_10152150665438807_6440648580150120268_n.jpg?oh=eeb785750459bd099646b6eb34102137&oe=55D493F6&__gda__=1440344718_1fbf09e7696d9b629ff2510fb5fb038b")
            .introduction
              h4 Chung Heng Chang
              span 記錄
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p320x320/10413434_877763895576407_9099161578711107770_n.jpg?oh=fb2844ea40c95db3fd6e76da3ea372c9&oe=55E35212&__gda__=1440642681_728b78c2703339b1c689c3b60c866a7d")
            .introduction
              h4 Webber
              span 場務
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span 網路
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p320x320/10929190_10200245821105569_1100529549169868284_n.jpg?oh=875d062709a967da29009da4f22f8a0b&oe=55D96538&__gda__=1440717993_e36c118013c71403e5eb2123152cfb12")
            .introduction
              h4 Jr Hau Ju
              span 財務
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span 票務
          .person
            .avatar
              img(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p320x320/11045288_10205848918198409_273215707740263130_n.jpg?oh=d8e74bffa04b7891764a83f53ef646c2&oe=55CB0D62&__gda__=1439222542_0cbcd57ab9239c0a17c094bb0fcaf16f")
            .introduction
              h4 Chan-Cheng George Shih
              span 公關
          .person
            .avatar
              img(src="../images/chiahao.jpg")
            .introduction
              h4 Chiahao Lin
              span 網站開發
          //- .person
            .avatar
              img(src="../images/no-avatar.jpg")
            .introduction
              h4 Name
              span 行銷
      section.location
        .title
          h1 活動地點
        .content
          p.address 中央研究院 - 台北市南港區研究院路二段128號 人文社會科學館 國際會議廳
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7775685346055!2d121.61311881639412!3d25.04162156122398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab4501e8c151%3A0x2f2b63fe4251d55c!2sAcademia+Sinica!5e0!3m2!1sen!2stw!4v1432454564591", width="100%" height="300", frameborder="0", style="border:0;")
      footer
        .container
          // Begin MailChimp Signup Form
          #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action="//github.us8.list-manage.com/subscribe/post?u=e158304d0affdf640565a3e33&amp;id=914d8a037f", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate="")
              #mc_embed_signup_scroll
                h2 訂閱 JSDC 最新消息
                .mc-field-group
                  //- label(for="mce-EMAIL") Email Address
                  input#mce-EMAIL.email.required(type="email", value="", name="EMAIL", placeholder="輸入 E-mail")
                  input#mc-embedded-subscribe.button(type="submit", value="訂閱", name="subscribe")
                #mce-responses.clear
                  #mce-error-response.response(style="display:none")
                  #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style="position: absolute; left: -5000px;")
                  input(type="text", name="b_e158304d0affdf640565a3e33_914d8a037f", tabindex="-1", value="")
                //- .clear
          // End mc_embed_signup
          p
            | ©2015 
            a(href="http://jsdc.tw") JSDC.tw

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js")
    script(src="../scripts/index.js")
    script.
      var qs, js, q, s, d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = 'typef_orm',
        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
      if (!gi.call(d, id)) {
        js = ce.call(d, 'script');
        js.id = id;
        js.src = b + 'share.js';
        q = gt.call(d, 'script')[0];
        q.parentNode.insertBefore(js, q)
      }
      id = id + '_';
      if (!gi.call(d, id)) {
        qs = ce.call(d, 'link');
        qs.rel = 'stylesheet';
        qs.id = id;
        qs.href = b + 'share-button.css';
        s = gt.call(d, 'head')[0];
        s.appendChild(qs, s)
      }
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=715893795173476";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));