nav#nav
  .block.grey
  .block.red
    ul
      li 
        a(href="") 最新消息
  .block.green
    ul
      li 
        a(href="") 議程
  .block.blue
    ul
      li
        a(href="") 講者
      li
        a(href="") 贊助
      li
        a(href="") 工作人員
  //- ul.nav-menu
    li
      a(href="/zh_tw") 2015
    li
      a(style="text-decoration: line-through") 議程
    li
      a(style="text-decoration: line-through") 講者
    li
      a(style="text-decoration: line-through") 贊助
    li
      a(style="text-decoration: line-through") 關於我們
    li
      a(style="text-decoration: line-through") Blog