nav#nav
  ul.nav-menu
    li
      a(href="/zh_tw") 2015
    li
      a(style="text-decoration: line-through") 議程
    li
      a(style="text-decoration: line-through") 講者
    li
      a(style="text-decoration: line-through") 贊助
    li
      a(style="text-decoration: line-through") 關於我們
    li
      a(style="text-decoration: line-through") Blog