/* Compass */
/* Breakpoint */
/* Susy */
/* Tools */
/* ===========================
 * Tools/Helpers
 * =========================== */
/* Image replacement */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
/* line 8, ../../../sass/tools/_helpers.sass */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  
  *text-indent: -9999px;
}
/* line 15, ../../../sass/tools/_helpers.sass */

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/* Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 25, ../../../sass/tools/_helpers.sass */

.hidden {
  display: none !important;
  visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 33, ../../../sass/tools/_helpers.sass */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 48, ../../../sass/tools/_helpers.sass */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout
 */
/* line 60, ../../../sass/tools/_helpers.sass */

.invisible {
  visibility: hidden;
}
/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 75, ../../../sass/tools/_helpers.sass */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 79, ../../../sass/tools/_helpers.sass */

.clearfix:after {
  clear: both;
}
/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 87, ../../../sass/tools/_helpers.sass */

.clearfix {
  *zoom: 1;
}
/* =Layout
 * ------------------- 
 */
/* line 95, ../../../sass/tools/_helpers.sass */

.ul-list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 171, ../../../sass/tools/_mixins.sass */

.ul-list-inline li {
  display: inline-block;
  vertical-align: middle;
}
/* line 17, ../../../sass/tools/_mixins.sass */

.lt-ie8 .ul-list-inline li {
  display: inline;
  zoom: 1;
}
/* =Images
 * -------------------
 */
/* line 101, ../../../sass/tools/_helpers.sass */

.lazy-loaded {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}
/* line 105, ../../../sass/tools/_helpers.sass */

.lazy-hidden {
  opacity: 0;
  background: #eee url(../images/loading.gif) no-repeat 50% 50%;
}
/* =Fonts
 * ------------------- 
 */
/* Chart Colors */
/* line 114, ../../../sass/tools/_helpers.sass */

.f-color1 {
  color: #dd577a;
}
/* line 116, ../../../sass/tools/_helpers.sass */

.f-color2 {
  color: #49aec0;
}
/* =Wordpress alignment
 * ------------------- 
 */
/* line 124, ../../../sass/tools/_helpers.sass */

.alignleft {
  display: inline;
  float: left;
}
/* line 127, ../../../sass/tools/_helpers.sass */

.alignright {
  display: inline;
  float: right;
}
/* line 130, ../../../sass/tools/_helpers.sass */

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 135, ../../../sass/tools/_helpers.sass */

.txtleft {
  text-align: left;
}
/* line 137, ../../../sass/tools/_helpers.sass */

.txtright {
  text-align: right;
}
/* Base */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, ../../../sass/base/_normalize.sass */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/**
 * Remove default margin.
 */
/* line 18, ../../../sass/base/_normalize.sass */

body {
  margin: 0;
}
/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 29, ../../../sass/base/_normalize.sass */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 37, ../../../sass/base/_normalize.sass */

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 46, ../../../sass/base/_normalize.sass */

audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 55, ../../../sass/base/_normalize.sass */

[hidden], template {
  display: none;
}
/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 65, ../../../sass/base/_normalize.sass */

a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 72, ../../../sass/base/_normalize.sass */

a:active, a:hover {
  outline: 0;
}
/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 83, ../../../sass/base/_normalize.sass */

abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 91, ../../../sass/base/_normalize.sass */

b, strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 99, ../../../sass/base/_normalize.sass */

dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 107, ../../../sass/base/_normalize.sass */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
/* line 115, ../../../sass/base/_normalize.sass */

mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 123, ../../../sass/base/_normalize.sass */

small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 131, ../../../sass/base/_normalize.sass */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 137, ../../../sass/base/_normalize.sass */

sup {
  top: -0.5em;
}
/* line 140, ../../../sass/base/_normalize.sass */

sub {
  bottom: -0.25em;
}
/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 150, ../../../sass/base/_normalize.sass */

img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 157, ../../../sass/base/_normalize.sass */

svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 167, ../../../sass/base/_normalize.sass */

figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
/* line 174, ../../../sass/base/_normalize.sass */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
/* line 183, ../../../sass/base/_normalize.sass */

pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 190, ../../../sass/base/_normalize.sass */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 209, ../../../sass/base/_normalize.sass */

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
/* line 218, ../../../sass/base/_normalize.sass */

button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
/* line 228, ../../../sass/base/_normalize.sass */

button, select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 239, ../../../sass/base/_normalize.sass */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/**
 * Re-set default cursor for disabled elements.
 */
/* line 247, ../../../sass/base/_normalize.sass */

button[disabled], html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 254, ../../../sass/base/_normalize.sass */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 263, ../../../sass/base/_normalize.sass */

input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 274, ../../../sass/base/_normalize.sass */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 284, ../../../sass/base/_normalize.sass */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 293, ../../../sass/base/_normalize.sass */

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 305, ../../../sass/base/_normalize.sass */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
/* line 312, ../../../sass/base/_normalize.sass */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 322, ../../../sass/base/_normalize.sass */

legend {
  border: 0;
  padding: 0;
}
/**
 * Remove default vertical scrollbar in IE 8/9.
 */
/* line 330, ../../../sass/base/_normalize.sass */

textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 338, ../../../sass/base/_normalize.sass */

optgroup {
  font-weight: bold;
}
/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 348, ../../../sass/base/_normalize.sass */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 352, ../../../sass/base/_normalize.sass */

td, th {
  padding: 0;
}
/* ===========================
 * Base
 * =========================== */
/* line 5, ../../../sass/base/_base.sass */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 12, ../../../sass/base/_base.sass */

a {
  color: #dd577a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 16, ../../../sass/base/_base.sass */

a:hover {
  color: #d42d58;
}
/* line 21, ../../../sass/base/_base.sass */

::-moz-selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}
/* line 25, ../../../sass/base/_base.sass */

::selection {
  background: #dd577a;
  color: #fff;
  text-shadow: none;
}
/* line 30, ../../../sass/base/_base.sass */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/* line 38, ../../../sass/base/_base.sass */

ul {
  list-style: none;
}
/* line 41, ../../../sass/base/_base.sass */

button {
  outline: none;
  border: none;
}
/* ==|====================
 * Base/Form
 * ======================= */
/* line 5, ../../../sass/base/_form.sass */

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="search"], textarea {
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #666;
  padding: 0.5em;
  border: 1px solid #bfbfbf;
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: #f7f7f7;
}
/* line 47, ../../../sass/tools/_mixins.sass */

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cdcdcd;
}
/* line 49, ../../../sass/tools/_mixins.sass */

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea:-moz-placeholder {
  color: #cdcdcd;
}
/* line 51, ../../../sass/tools/_mixins.sass */

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cdcdcd;
}
/* line 17, ../../../sass/base/_form.sass */

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="search"]:hover, textarea:hover {
  border-color: #a5a5a5;
}
/* line 19, ../../../sass/base/_form.sass */

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus, textarea:focus {
  border-color: #999;
}
/* Fonts */
/* Layout */
/* line 2, ../../../sass/layout/_nav.sass */

#navigation .nav-toggle {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 5px;
  position: fixed;
  top: 50px;
  right: 50px;
  padding: 10px;
}
/* line 9, ../../../sass/layout/_nav.sass */

#navigation .nav-toggle .icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  margin-top: 3px;
}
/* line 17, ../../../sass/layout/_nav.sass */

#side-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 26, ../../../sass/layout/_nav.sass */

#side-menu.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 29, ../../../sass/layout/_nav.sass */

#side-menu .menu {
  padding: 0;
}
/* line 31, ../../../sass/layout/_nav.sass */

#side-menu .menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em 1em 1em 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  -moz-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.2);
}
/* line 40, ../../../sass/layout/_nav.sass */

#side-menu .menu li a:hover {
  background: rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 -1px transparent;
  -webkit-box-shadow: inset 0 -1px transparent;
  box-shadow: inset 0 -1px transparent;
}
/* line 1, ../../../sass/layout/_home.sass */

.landing, .intro {
  padding: 1px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
/* line 6, ../../../sass/layout/_home.sass */

.landing {
  background: linear-gradient(rgba(255, 215, 15, 0.8), rgba(255, 215, 15, 0.8)), url(/images/background.jpg) no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 65vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 14, ../../../sass/layout/_home.sass */

.landing .tagline {
  padding: 30px 0;
}
/* line 16, ../../../sass/layout/_home.sass */

.landing .activity {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 19, ../../../sass/layout/_home.sass */

.landing .activity a {
  background: #57585a;
  color: #f1f1f1;
  border: none;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
}
/* line 25, ../../../sass/layout/_home.sass */

.landing .activity a:hover {
  background: #7d7e81;
}
/* line 28, ../../../sass/layout/_home.sass */

.intro {
  background-color: #f1f1f1;
}
/* line 32, ../../../sass/layout/_home.sass */

.intro .container-box {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 40, ../../../sass/layout/_home.sass */

.intro .divider {
  background-color: yellowgreen;
  height: 5px;
  width: 100px;
  margin: 20px auto;
}
/* line 45, ../../../sass/layout/_home.sass */

.intro .info {
  color: #8f8f8f;
  margin: 50px 20px;
}
/* line 49, ../../../sass/layout/_home.sass */

.intro .contact {
  color: #03cef7;
  font-weight: bold;
}
/* Modules */
/* line 1, ../../../sass/modules/_animated-headlines.sass */

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
/* line 5, ../../../sass/modules/_animated-headlines.sass */

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
/* line 11, ../../../sass/modules/_animated-headlines.sass */

.cd-words-wrapper b.is-visible {
  position: relative;
}
/* line 13, ../../../sass/modules/_animated-headlines.sass */

.no-js .cd-words-wrapper b {
  opacity: 0;
}
/* line 15, ../../../sass/modules/_animated-headlines.sass */

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}
/* line 21, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.rotate-1 .cd-words-wrapper {
  display: inline-block;
  -moz-perspective: 300px;
  -webkit-perspective: 300px;
  perspective: 300px;
}
/* line 25, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.rotate-1 b {
  opacity: 0;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 33, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -moz-animation: cd-rotate-1-in 1.2s;
  -webkit-animation: cd-rotate-1-in 1.2s;
  animation: cd-rotate-1-in 1.2s;
}
/* line 38, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.rotate-1 b.is-hidden {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -moz-animation: cd-rotate-1-out 1.2s;
  -webkit-animation: cd-rotate-1-out 1.2s;
  animation: cd-rotate-1-out 1.2s;
}
/* line 42, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
/* line 45, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper:after {
  /* vertical bar */
  
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  width: 2px;
  background-color: #000;
}
/* line 57, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper.waiting:after {
  -moz-animation: cd-pulse 1s infinite;
  -webkit-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
/* line 59, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper.selected {
  background-color: #dd577a;
}
/* line 61, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper.selected:after {
  visibility: hidden;
}
/* line 63, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type .cd-words-wrapper.selected b {
  color: #fff;
}
/* line 65, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type b {
  visibility: hidden;
}
/* line 67, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type b.is-visible {
  visibility: visible;
}
/* line 69, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type i {
  position: absolute;
  visibility: hidden;
  font-style: normal;
}
/* line 73, ../../../sass/modules/_animated-headlines.sass */

.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}
@-webkit-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-in {
  0% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    -o-transform: rotateX(120deg);
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    -o-transform: rotateX(360deg);
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    -webkit-transform: rotateX(-40deg);
    -moz-transform: rotateX(-40deg);
    -ms-transform: rotateX(-40deg);
    -o-transform: rotateX(-40deg);
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
