// Navigation bar on landing page
#nav-main {
  // background-color: #fff
  width: 50%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  left: 0;
  top: 0;
  bottom: auto;
  z-index: 2;
  @include display-flex;
  @include flex-direction(column);
  // +box-shadow(0px 1px 5px 0px rgba(50, 50, 50, 0.75))
  @include transition-duration(0.3s);
  // +animation-name(dropNav)
  // +animation-duration(1s)
  // +animation-iteration-count(1)
  // +animation-timing-function(ease-in)
  @include transform(translateX(-100%));
  @include susy-breakpoint($width-small, 12) {
    width: 100%;
    height: auto;
    left: 0;
    top: auto;
    bottom: 0;
    height: auto;
    @include flex-direction(row);
    @include transform(translateY(80%));
    &.active {
      @include transform(translateY(0));
    }
  }

  &.active {
    @include transform(translateX(0));
    // +susy-breakpoint($width-small, 12)
    //   +transform(translateY(0))
 
  }
  //   position: absolute
  //   background: transparent
  // &:hover
  //   +transform(translateY(0))
  // .nav-menu
  //   font-size: 1.5em
  //   padding: 0
  //   +display-flex
  //   +justify-content(center)
  //   +flex-wrap(wrap)
  //   li
  //     &:before
  //       content: "/"
  //     &:first-child:before
  //       content: ""
  //     a
  //       padding: 5px 5px
  //       text-decoration: none
  //       font-weight: 700
  //       +transition-duration(0.3s)
  //       &:hover
  //         border-bottom: 3px solid #fff
  .block {
    height: 25%;
    width: auto;
    padding: 20px;
    @include susy-breakpoint($width-small, 12) {
      height: auto;
      width: 25vw;
    }

    &.grey {
      background-color: $logo-grey;
      ul > li:hover {
        background-color: lighten($logo-grey, 15%);
      }
    }
    &.blue {
      background-color: $logo-blue;
      ul > li:hover {
        background-color: lighten($logo-blue, 15%);
      }
    }
    &.green {
      background-color: $logo-green;
      ul > li:hover {
        background-color: lighten($logo-green, 15%);
      }
    }
    &.red {
      background-color: $logo-red;
      ul > li:hover {
        background-color: lighten($logo-red, 15%);
      }
    }
    ul {
      padding: 0;
      margin: 0;
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.nav-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
  display: block;
  @include susy-breakpoint($width-small, 12) {
    display: none;
  }

  button {
    background-color: transparent;
    width: 30px;
    height: 45px;
    padding: 0px;
    @include transform(rotate(0deg));
    @include transition(0.5s ease-in-out);
    &.active {
      .icon-line {
        &:nth-child(1) {
          @include transform(translateY(10px) rotate(135deg));
        }
        &:nth-child(2) {
          opacity: 0;
          @include transform(translateX(-60px));
        }
        &:nth-child(3) {
          @include transform(translateY(-10px) rotate(-135deg));
        }
      }
    }
    .icon-line {
      background-color: white;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      border-radius: 100px;
      display: block;
      opacity: 1;
      @include transform(rotate(0deg));
      @include transition(0.25s ease-in-out);
    }
  }
}

// +keyframes(dropNav)
//   0%
//     +transform(translateY(100%))
//   50%
//     +transform(translateY(0))
//   100%
//     +transform(translateY(90%))

#navbar {
  height: 50px;
  .nav-menu {
    @include align-items(center);
    height: 100%;
    padding: 0;
    margin: 0;
    display: none;
    @include susy-breakpoint($width-small, 12) {
      @include display-flex;
    }

    .active {
      display: block;
    }
    li {
      width: 45vw;
      display: inline-block;
      @include susy-breakpoint($width-small, 12) {
        width: auto;
        // display: inline-block
      }

      a {
        display: block;
        padding: 10px;
      }
    }
  }
}

.navbar-btn {
  background-color: transparent;
  width: 25px;
  height: 100%;
  padding: 0;
  margin: 0 20px;
  @include susy-breakpoint($width-small, 12) {
    display: none;
  }

  .icon-line {
    display: block;
    background-color: #0f0f0f;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 5px;
  }
}
