.news
  background-color: #f1f1f1
  .news-slick
    margin: 0
    .post
      background-color: #fff
      text-decoration: none
      padding: 10px
      margin: 20px
      // display: block
    .title, .author
      text-align: center
    .title
      font-size: 1.5em
    .author
      color: #d0d0d0
      text-align: right
      display: block
    .description
      color: #000
      margin-top: 10px
      // display: none
      // +susy-breakpoint(480, 12)
      //   display: block