.news {
  background-color: $logo-red;
  & > .title {
    color: white;
  }
  .news-slick {
    .post {
      background-color: white;
      text-decoration: none;
      height: 300px;
      padding: 10px;
      margin-left: 20px;
      margin-right: 20px;
      // display: block
   
    }
    .title, .author {
      text-align: center;
    }
    .title {
      font-size: 1.5em;
    }
    .author {
      color: #d0d0d0;
      text-align: right;
      display: block;
    }
    .description {
      color: black;
      margin-top: 10px;
      // display: none
      // +susy-breakpoint(480, 12)
      //   display: block
   
    }
  }
  .slick-dots {
    position: static;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
  }
  .slick-prev, .slick-next {
    width: 30px;
    height: 30px;
  }
  .slick-prev {
    left: -30px;
  }
  .slick-next {
    right: -30px;
  }
}
