header.schedule-header {
  background-color: $logo-yellow;
}

.schedule-page-image {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://unsplash.it/1280/720/?image=668&blur);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 80vh;
  padding-top: 3.9em;
  h1 {
    font-weight: bold;
  }
}

.schedule {
  background-color: $logo-black;
  padding-bottom: 30px;
}

.schedules-list {
  position: relative;
  .list {
    padding-top: 6rem;
  }
}

.day-tab {
  position: absolute;
  top: 0;
  background-color: $logo-red;
  width: 100%;
  padding: 0 20px;
  @include box-shadow(0 1px 2px 0 rgba(50, 50, 50, 0.75));
  @include susy-breakpoint($width-medium, 12) {
    padding: 0 40px;
  }
  &.fixed {
    position: fixed;
  }
  & > li {
    color: #fff;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    @include transition-duration(0.3s);
    @include susy-breakpoint($width-medium, 12) {
      font-size: 2.5rem;
    }
    &:hover {
      background-color: lighten($logo-red, 15%);;
      // color: #000;
    }
    &.active {
      background-color: lighten($logo-red, 15%);
      // color: #000;
    }
  }
}

.day-one, .day-two {
  display: none;
  &.active {
    display: block;
  }
}

.day-two {

}

.list-item {
  @include display-flex;
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include justify-content(center);
  background-color: $logo-grey;
  color: #fff;
  min-height: 100px;
  padding: 20px 0;
  margin: 0;
  @include susy-breakpoint($width-medium, 12) {
    @include flex-direction(row);
    @include justify-content(space-around);
    margin: 0 50px;
  }
  &.hour-div {
    @include justify-content(flex-end);
    background-color: transparent;
    color: $logo-grey;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 5px 0;

    @include susy-breakpoint($width-medium, 12) {
      @include align-items(flex-end);
      @include justify-content(center);
    }

    & > h1 {
      margin: 0.5rem;
    }
  }
  &.room-nav {
    text-align: center;
    min-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    display: none;
    @include justify-content(center);
    @include susy-breakpoint($width-medium, 12) {
      @include display-flex;
    }
    & > li {
      display: block;
      width: 49%;

      &.divider {
        width: 1px;
        background-color: #fff;
      }
    }
  }

  & > li {
    @include display-flex;
    @include justify-content(center);
    font-size: 1rem;
    margin: 10px 0;
    @include susy-breakpoint($width-ex-small, 12) {
      font-size: 1.5rem;
    }
    @include susy-breakpoint($width-medium, 12) {
      width: 50%;
    }

    & > div {
      margin: 0 10px;
    }

    .avatar {
      width: 7em;
      height: 7em;
      overflow: hidden;
      border-radius: 50%;
      border: 0.5em solid $logo-red;

      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .info {
      width: 66%;
    }
    .topic, .no-topic {
      font-size: 1.5rem;

      @include susy-breakpoint($width-ex-small, 12) {
        font-size: 2rem;
      }
    }
    .no-topic {
      text-align: center;
      white-space: nowrap;
    }
    .room-name {
      display: block;
      @include susy-breakpoint($width-medium, 12) {
        display: none;
      };
    }
  }
  .time {
    width: 10%;
  }
}
