.staff
  background-color: $logo-blue
  overflow: hidden
  .title
    color: #fff
  .container-fluid
    +display-flex
    +flex-wrap(wrap)
    +justify-content(center)

  .person
    background-color: #fff
    color: #000
    width: 100px
    height: 100px
    // padding: 10px
    margin: 10px
    border-radius: 10px
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)
    overflow: hidden
    position: relative
    +susy-breakpoint($width-small, 12)
      width: 180px
      height: 180px
    &:hover
      color: lighten(#000, 25%)
  .avatar
    // height: 50px
    // +susy-breakpoint($width-small, 12)
    //   height: 90px
    img
      width: 100%
      height: 100%
      object-fit: cover
  .introduction
    background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) )
    width: 100%
    height: 50px
    text-align: center
    padding: 1px
    position: absolute
    bottom: 0
    left: 0
    +susy-breakpoint($width-small, 12)
      padding: 10px
      height: 75px
    h4
      font-size: 1em
      margin-top: 0
      margin-bottom: 1px
      +susy-breakpoint($width-medium, 12)
        margin-top: 0
        margin-bottom: 5px