section.staff {
  background-color: $logo-blue;
  overflow: hidden;
  .title {
    color: white;
  }
  .container-fluid {
    @include display-flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
  }
  .person {
    background-color: white;
    color: black;
    width: 100px;
    height: 100px;
    // padding: 10px
    margin: 1rem;
    border-radius: 10px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    overflow: hidden;
    position: relative;
    @include susy-breakpoint($width-small, 12) {
      width: 180px;
      height: 180px;
    }

    &:hover {
      color: lighten(black, 25%);
    }
  }
  .avatar {
    // height: 50px
    // +susy-breakpoint($width-small, 12)
    //   height: 90px
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .introduction {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include susy-breakpoint($width-small, 12) {
      font-size: 1.5rem;
      padding: 10px;
      height: 75px;
    }

    h4 {
      font-size: 1em;
      margin-top: 0;
      margin-bottom: 1px;
      @include susy-breakpoint($width-medium, 12) {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.team-page-image {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(https://unsplash.it/1280/720/?image=532);
  background-position: center;
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  width: 100vw;
  height: 80vh;
  padding-top: 3.9em;
  h1 {
    font-weight: bold;
  }
}
