.schedule
  .schedules-list
    .list.day-one
      .list-item.hour-div
      ul.list-item
        li.room-0
        li.room-1
    .list.day-two
      .list-item.hour-div
      ul.list-item
        li.room-0
        li.room-1
