header.common
  button.navbar-btn
    span.icon-line
    span.icon-line
    span.icon-line
  .logo
    img(src="/images/logo.png", alt="")
  nav#navbar
    ul.nav-menu
      //- li
        a(href="/en") 2015
      li
        a(href="") Schedule
      li
        a(href="") Speakers
      li
        a(href="") Sponsors
      li
        a(href="") About us
      li
        a(href="") Blog
  ul.languages
    li
      a(href="/zh_tw") 中文