doctype html
html
  head(lang="en")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="icon", sizes="16x16 32x32", href="../favicon.ico?v=2")
    title JSDC 2015
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="../stylesheets/style.css")
    
    // Open Graph data
    meta(property="og:title", content="JSDC 2015")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://2015.jsdc.tw")
    meta(property="og:image", content="http://2015.jsdc.tw/images/og.png")
    meta(property="og:description", content="This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.")
    meta(property="og:site_name", content="JSDC 2015")

  body
    //- include views/includes/nav.jade
    #main
      header
        ul.languages
          li
            a(href="/zh_tw") 中文
      section.landing.cd-intro
        .nav-btn
          button(type="button")
            span.icon-line
            span.icon-line
            span.icon-line
        .video
          video#bg-video(autoplay="", muted="", loop="")
            source(type="video/mp4", src="../video/background.mp4")
        //- iframe.video(width="100%", src="https://www.youtube.com/embed/fFvj1NELjOQ?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=fFvj1NELjOQ", frameborder="0", allowfullscreen="")
        .background-container
          .logo
            img(src="../images/logo.png", alt="JSDC")
          span Coming soon at Oct 3 and Oct 4
          h1.tagline.cd-headline.letters.type
            span Build 
            span.cd-words-wrapper.waiting
              b.is-visible Anything
              b Website
              b Webapp
              b Mobile App
              b Arduino
              b Raspberry Pi
              b Robot
            span  with JavaScript
          .activity
            a.typeform-share.link.speaker(href="https://jsdc2015.typeform.com/to/JIc9v2", data-mode="1", target="_blank")
              | Be a speaker
            a.typeform-share.link.sponsor(href="https://jsdc2015.typeform.com/to/dgmSSy", data-mode="1", target="_blank")
              | Be a sponsor
        include navbar.jade
      section.news

      section.intro
        .container-box
          h1.title What's JSDC
          .divider
          p.info
            | This year, JSDC is breaking the barriers by integrating the technical power from 
            | independent developers, enterprises, framewords, architectures, and practices. 
            | We aim to make the knowledge globally interchangeable, while makeing all attendees 
            | reimagine JavaScript within and beyond the dogma. Our new thinking will be a catalyst 
            | for further improvement of the architectures, fortification of the teams, and optimization 
            | of the development process.
          a.typeform-share.link.contact(href="https://jsdc2015.typeform.com/to/Z3xnIk", data-mode="1", target="_blank")
            | Contact us
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="//cdn.jsdelivr.net/velocity/1.2.2/velocity.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
    script(src="../scripts/index.js")
    script.
      var qs, js, q, s, d = document,
        gi = d.getElementById,
        ce = d.createElement,
        gt = d.getElementsByTagName,
        id = 'typef_orm',
        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
      if (!gi.call(d, id)) {
        js = ce.call(d, 'script');
        js.id = id;
        js.src = b + 'share.js';
        q = gt.call(d, 'script')[0];
        q.parentNode.insertBefore(js, q)
      }
      id = id + '_';
      if (!gi.call(d, id)) {
        qs = ce.call(d, 'link');
        qs.rel = 'stylesheet';
        qs.id = id;
        qs.href = b + 'share-button.css';
        s = gt.call(d, 'head')[0];
        s.appendChild(qs, s)
      }