nav#navbar
  ul.nav-menu
    li
      a(href="/en") 2015
    li
      a(href="") Schedule
    li
      a(href="") Speakers
    li
      a(href="") Sponsors
    li
      a(href="") About us
    li
      a(href="") Blog