nav#navbar
  ul.nav-menu
    li
      a(href="/en") 2015
    li
      a(style="text-decoration: line-through") Schedule
    li
      a(style="text-decoration: line-through") Speakers
    li
      a(style="text-decoration: line-through") Sponsors
    li
      a(style="text-decoration: line-through") About us
    li
      a(style="text-decoration: line-through") Blog