nav#nav
  .block.grey
  .block.red
    ul
      li 
        a.nav-news News
  .block.green
    ul
      li 
        a.nav-schedule Schedule
  .block.blue
    ul
      li
        a.nav-speakers Speakers
      li
        a.nav-sponsors Sponsors
      li
        a.nav-staff Staff
  //- ul.nav-menu
    li
      a(href="/en") 2015
    li
      a(style="text-decoration: line-through") Schedule
    li
      a(style="text-decoration: line-through") Speakers
    li
      a(style="text-decoration: line-through") Sponsors
    li
      a(style="text-decoration: line-through") About us
    li
      a(style="text-decoration: line-through") Blog