nav#nav
  ul.nav-menu
    li
      a(href="/en") 2015
    li
      a(href="", style="text-decoration: line-through") Schedule
    li
      a(href="", style="text-decoration: line-through") Speakers
    li
      a(href="", style="text-decoration: line-through") Sponsors
    li
      a(href="", style="text-decoration: line-through") About
    li
      a(href="", style="text-decoration: line-through") Blog