nav#nav
  .block.grey
  .block.red
    ul
      li 
        a(href="") News
  .block.green
    ul
      li 
        a(href="") Schedule
  .block.blue
    ul
      li
        a(href="") Speakers
      li
        a(href="") Sponsors
      li
        a(href="") Staff
  //- ul.nav-menu
    li
      a(href="/en") 2015
    li
      a(style="text-decoration: line-through") Schedule
    li
      a(style="text-decoration: line-through") Speakers
    li
      a(style="text-decoration: line-through") Sponsors
    li
      a(style="text-decoration: line-through") About us
    li
      a(style="text-decoration: line-through") Blog