doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="icon", sizes="16x16 32x32", href="../favicon.ico?v=2")
  title Schedule | JSDC 2015
  link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  //- link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css")
  //- link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css")
  link(rel="stylesheet", href="../stylesheets/style.css")

  // Open Graph data
  meta(property="og:title", content="Schedule | JSDC 2015")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://2015.jsdc.tw/en/schedule.html")
  meta(property="og:image", content="http://2015.jsdc.tw/images/og.png")
  meta(property="og:description", content="This year, JSDC is breaking the barriers by integrating the technical power from independent developers, enterprises, framewords, architectures, and practices.")
  meta(property="og:site_name", content="JSDC 2015")
body
  include _header.jade
  +header('schedule')
  section.schedule-page-image
    h1 Schedule
  include _schedule.jade
  include _footer.jade
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="../scripts/schedule.js")
