template(name="nav")
  #navigation
    button.nav-toggle(type="button", data-action="nav-toggle")
      span.icon-bar
      span.icon-bar
      span.icon-bar
  #side-menu(data-target="side-menu")
    ul.menu
      li
        a(href="") Link 1
      li
        a(href="") Link 2
      li
        a(href="") Link 3
      li
        a(href="") Link 4
      li
        a(href="") Link 5
      li
        a(href="") Link 6